<!DOCTYPE html>
<html>
<head>
    <title>Passport Authentication Practice</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
        <% if (loggedIn){ %>
            <span>Logged in as:</span><a href="/users/profile"><%= currentUser.name %></a>
            <a href="/users/profile/edit">Edit Profile</a>
        <% } else { %>
            <a href="/users/login">Log In</a>
            <a href="/users/signup">Sign Up</a>
        <% } %>
        <%- body %>
</body>
</html>