<div class="container">
    <% places.forEach(p => { %>
<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="<%= p.picture %>" style="height: 500px;">
              <span class="card-title"><%= p.city %></span>
            </div>
            <div class="card-content">
            </div>
            <div class="card-action">
              <a href="/cities/<%= p._id %>">Posts</a>
            </div>
          </div>
        </div>
    </div>  
    <% }) %>
</div>
