<div class="container">
  <h1>Create a new post!</h1>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Title:</label>
          </div>
        </div>
      </form>
    </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Post:</label>
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
              
            </div>
          </div>
        </form>
      </div>
    </div>