<div class="col s12 m7">
    <h2 class="header"><%= post.title %></h2>
    <div class="card horizontal">
      <div class="card-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= post.body %></p>
        </div>
        <div class="card-action">
        <a href="#">Delete</a>
        </div>
      </div>
    </div>
  </div>